.order-detal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100vh;
    animation: fadeInOrder 0.2s linear;
    background-color: rgb(120, 120, 120);
    z-index: 3;
    overflow: auto;
    display: flex;
    justify-content: center;
}

.order-container{
    width: 794px;
    height: 1123px;
    background-color: azure;
    padding: 16px;
}

.info-company-order,
.info-customer-order{
    font-size: 13px;
    line-height: 24px;
}

.info-company-order:last-child,
.info-customer-order:last-child{
    margin-bottom: 10px;
}

.mLeft40{
    margin-left: 40px;
}

@keyframes fadeInOrder{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
